<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Fiche d'inscription
      </h1>
      {{> breadcrumb tab="SG" path="Membres,Inscription"}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Informations
                </h3>
              </div>
              <form role="form" method="post" action="/core/member/create">
                <div class="box-body row">
                  <div class="col-md-6 form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Entrez le nom" required>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Entrez le prénom" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="userName">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Entrez le nom d'utilisateur" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="gender">Sexe</label>
                    <select class="form-control" id="gender" name="gender" >
                      {{#each gender}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="birthday">Date de naissance</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" required>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Entrez l'adresse mail" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="telephone">Téléphone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Entrez le numéro de téléphone" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="departmentId">Département</label>
                    <select class="form-control" id="departmentId" name="departmentId" >
                      {{#each departments}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="schoolYear">Année scolaire</label>
                    <select class="form-control" id="schoolYear" name="schoolYear">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                  <h4 class="col-md-12 box-title">
                    Adresse
                  </h4>
                  <div class="col-md-12 form-group">
                    <label for="line1">Ligne 1</label>
                    <input type="string" class="form-control" id="line1" name="line1" placeholder="Entrez l'adresse 1" required>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="line2">Ligne 2</label>
                    <input type="string" class="form-control" id="line2" name="line2" placeholder="Entrez l'adresse 2">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="postalCode">Code postal</label>
                    <input type="string" class="form-control" id="postalCode" name="postalCode" placeholder="Entrez le code postal" required>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="city">Ville</label>
                    <input type="string" class="form-control" id="city" name="city" placeholder="Entrez la ville" required>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="countryId">Pays</label>
                    <select class="form-control" id="countryId" name="countryId" required>
                      {{#each countries}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <h4 class="col-md-12 box-title">
                    Fonction/Poste
                  </h4>
                  <div class="col-md-4 form-group">
                    <label for="countryId">Fonction 1</label>
                    <select class="form-control" id="countryId" name="countryId">
                      {{#each positions}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="countryId">Fonction 2</label>
                    <select class="form-control" id="countryId" name="countryId">
                      {{#each positions}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="countryId">Fonction 3</label>
                    <select class="form-control" id="countryId" name="countryId">
                      {{#each positions}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="clearfix row">
                    <div class="col-md-10">
                      <a href="/core/member"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour</button></a>
                    </div>
                    <div class="col-md-2" id="box_buttons">
                      <button type="button" class="btn btn-primary pull-right" id="update">Editer</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>