<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Voir les membres
        </h1>
        {{> breadcrumb tab="RH" action="all" pathall="Membres,Voir les membres"}}
      </section>
  {{> template/infoCaption type="member"}}
  {{> template/itemPerPage meta=member.meta}}
  {{> template/infoColumnOrder}}
                     <th>
                            <select name="positions" id="positions-select" onchange="self.location.href=options[selectedIndex].value">
                            <option value="#">Choisir un position</option>
                            <option value="member">AFFICHER TOUS</option>
                            {{#each positions}}
                            <option value="member?positionId={{this.id}}">{{this.label}}</option>
                            {{/each}}
                            </select>
                     </th>
                     <th>
                            <select name="poles" id="pole-select" onchange="self.location.href=options[selectedIndex].value">
                            <option value="#">Choisir un pôle</option>
                            <option value="member">AFFICHER TOUS</option>
                            {{#each poles}}
                            <option value="member?poleId={{this.id}}">{{this.name}}</option>
                            {{/each}}
                            </select>
                     </th>
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each members.content}}
                    <tr>
                      <td>{{username}}</td>
                      <td>{{lastName}}</td>
                      <td>{{firstName}}</td>
                      <td>{{email}}</td>
                      <td>{{#each positions}}{{this.label}}<br/>{{/each}}</td>
                      <td>{{#each positions}}{{this.pole.label}}<br/>{{/each}}</td>
                      <td><a href="member/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="member/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
  {{>template/infoFooter page="membersPage"}}
</div>
{{> template/scripts}}
</body>
