<body class="hold-transition skin-green fixed sidebar-mini" onload="selectIndex();">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Voir les{{#if (isAlumniParam urlPathWithQueries)}} anciens {{else}} membres {{/if}}
        </h1>
        {{#if (isAlumniParam urlPathWithQueries)}}
            {{> breadcrumb tab="RH" action="all" pathall="Anciens,Voir les anciens"}}
        {{else}}
            {{> breadcrumb tab="RH" action="all" pathall="Membres,Voir les membres"}}
        {{/if}}

      </section>
  {{> template/infoCaption type="member"}}
  {{> template/itemPerPage meta=members.meta page="memberList" members=members.content}}
  {{> template/infoColumnOrder isAlumni=(isAlumniParam urlPathWithQueries)}}
                     <th>
                            <select name="positions" id="positions-select" onchange="savePositionSelectIndex();">
                            <option value="#">Choisir une position</option>
                            <option value="?isAlumni={{isAlumniParam urlPathWithQueries}}">AFFICHER TOUS</option>
                            {{#each positions}}
                              <option value="?isAlumni={{isAlumniParam @root.urlPathWithQueries}}&positionId={{this.id}}">{{this.label}}</option>
                            {{/each}}
                            </select>
                     </th>
                     <th>
                            <select name="poles" id="pole-select" onchange="savePoleSelectIndex();">
                            <option value="#">Choisir un pôle</option>
                            <option value="?isAlumni={{isAlumniParam urlPathWithQueries}}">AFFICHER TOUS</option>
                            {{#each poles}}
                              <option value="?isAlumni={{isAlumniParam @root.urlPathWithQueries}}&poleId={{this.id}}">{{this.name}}</option>
                              <option value="?isAlumni={{isAlumniParam @root.urlPathWithQueries}}&poleId={{this.id}}">{{this.name}}</option>
                            {{/each}}
                            </select>
                     </th>
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each members.content}}
                    <tr>
                      <td>{{username}}</td>
                      <td>{{lastName}}</td>
                      <td>{{firstName}}</td>
                      <td>{{email}}</td>
                      <td>{{#each positions}}{{this.label}}<br/>{{/each}}</td>
                      <td>{{#each positions}}{{this.pole.label}}<br/>{{/each}}</td>
                      <td><a href="member/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="member/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
  {{>template/infoFooter page="membersPage" meta=members.meta isAlumni=(isAlumniParam urlPathWithQueries)}}
<!--</div>-->
