{{#if (beforeToday (addYear connectedUser.dateRepayment.date 1))}}
  <div class="small-box bg-danger">
    <div class="inner px-4">
      <h3>Attention</h3>
      <p>Repaiement de cotisation nécessaire</p>
    </div>
    <div class="icon">
      <i class="fas fa-exclamation px-4"></i>
    </div>
    <a
      class="small-box-footer"
      onclick="payMembershipFee(
                '{{connectedUser.id}}',
                '{{connectedUser.email}}',
                '{{paymentDetails.stripeAPIKey}}',
                '{{paymentDetails.membershipFeeProductID}}'
               )"
      href="#"
    >
      Payer la cotisation
      <i class="fas fa-arrow-circle-right px-2"></i>
    </a>
  </div>
{{else}}
  <div class="small-box bg-success">
    <div class="inner px-4">
      <h3>Cotisation Payée</h3>
      <p>Vous avez réglé votre frais de cotisation</p>
    </div>
    <div class="icon">
      <i class="fas fa-check px-2"></i>
    </div>
    <div class="small-box-footer">
      <strong>Date de repaiement :</strong>
      {{ date (addYear connectedUser.dateRepayment.date 1) }}
    </div>
  </div>
{{/if}}

<script src="https://js.stripe.com/v3/"></script>
<script src="/public/js/payment.js"></script>
