<div class="card card-olive">
	<div class="card-header">
		<h3 class="card-title">Informations Générales</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="lastName">Nom</label>
					<input
						type="text"
						class="form-control"
						id="lastName"
						name="lastName"
						required
						value="{{viewed.lastName}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="firstName">Prénom</label>
					<input
						type="text"
						class="form-control"
						id="firstName"
						name="firstName"
						required
						value="{{viewed.firstName}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="genderId">Sexe</label>
					<select
						class="form-control custom-select"
						id="genderId"
						name="genderId"
						{{#unless modify}}disabled{{/unless}}
					>
						{{#each genders}}
							<option
								value="{{id}}"
								{{#if (eq id ../viewed.gender.id)}}selected{{/if}}
							>
								{{gender label}}
							</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="birthday">Date de Naissance</label>
					<input
						type="date"
						class="form-control"
						id="birthday"
						name="birthday"
						required
						value="{{viewed.birthday}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="email">Email</label>
					<input
						type="email"
						class="form-control"
						id="email"
						name="email"
						required
						value="{{viewed.email}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
    		<div class="form-group">
    			<label for="nationalityId">Pays d'Origine</label>
    			<select
    				class="form-control custom-select"
    				id="nationalityId"
    				name="nationality[id]"
    				required
    				{{#unless modify}}disabled{{/unless}}
    			>
    				{{#each countries}}
    					<option
    						value="{{id}}"
    						{{#if (eq id ../viewed.nationality.id)}}selected{{/if}}
    					>
    						{{label}}
    					</option>
    				{{/each}}
    			</select>
    		</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="telephone">Téléphone</label>
					<input
						type="text"
						class="form-control"
						id="telephone"
						name="telephone"
						required
						value="{{viewed.phoneNumber}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
		</div>
	</div>
</div>
