<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{#if contact}}Fiche Contact{{else}}Nouveau contact{{/if}}
      </h1>
      {{#if contact}}
        {{> breadcrumb tab="UA" path="Contacts,Edition d'un contact"}}
      {{else}}
        {{> breadcrumb tab="UA" path="Contacts,Nouveau contact"}}
      {{/if}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Informations
                </h3>
                {{#if contact}}
                  {{#if contact.old}}
                    <button class="btn btn-success btn-xs pull-right" style="width:150px;">Actif</button>
                  {{else}}
                    <button class="btn btn-danger btn-xs pull-right" style="width:150px;">Inactif</button>
                  {{/if}}
                {{/if}}
              </div>
              <form role="form" method="post" {{#if contact}}action="/ua/contact/update" {{else}}action="/ua/contact/createform"{{/if}}>
                <div class="box-body row">
                  <div class="col-md-6 form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{contact.lastName}}" placeholder="Entrez le nom" required disabled>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{contact.firstName}}" placeholder="Entrez le prénom" required disabled>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="genderId">Sexe</label>
                    <select class="form-control" id="genderId" name="genderId" disabled>
                      <option value="{{contact.gender.id}}" selected>{{contact.gender.label}}</option>
                      {{#each gender}}
                        <option value="{{id}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="firmId">Société</label>
                    <select class="form-control" id="firmId" name="firmId" disabled>
                      <option value="{{contact.firm.id}}" selected>{{contact.firm.name}}</option>
                      {{#each firms}}
                        <option value="{{id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="string" class="form-control" id="email" name="email"
                           value="{{contact.email}}" placeholder="Entrez l'adresse mail" disabled>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="telephone">Téléphone</label>
                    <input type="string" class="form-control" id="telephone" name="telephone"
                           value="{{contact.telephone}}" placeholder="Entrez le numéro de téléphone" disabled>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="cellphone">Téléphone Portable</label>
                    <input type="string" class="form-control" id="cellphone" name="cellphone"
                           value="{{contact.cellphone}}" placeholder="Entrez le numéro de portable" disabled>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="position">Position</label>
                    <input type="string" class="form-control" id="position" name="position"
                           value="{{contact.position}}" placeholder="Entrez la position au sein de la société" disabled>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="notes">Notes</label>
                    <textarea rows="5" type="string" class="form-control" id="notes" name="notes" placeholder="Entrez des informations">{{contact.notes}}</textarea>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="clearfix row">
                    <div class="col-md-10">
                      <a href="/ua/contact"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour</button></a>
                    </div>
                    <div class="col-md-2" id="box_buttons">
                      <button type="button" class="btn btn-primary pull-right" id="update">Editer</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>