<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{#if contact}}Fiche Contact{{else}}Nouveau contact{{/if}}
      </h1>
      {{> breadcrumb action=action tab="UA" pathnew="Contacts,Nouveau contact" pathview=(concat "Contacts," (concat contact.lastName (concat " " contact.firstName))) pathedit=(concat "Contacts,Edition " (concat contact.lastName (concat " " contact.firstName))) }}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Informations {{#if contact}}contact n°{{contact.id}}{{/if}}
                </h3>
              </div>
              <form role="form" method="post" action="/ua/contact/postform">
                {{#if contact}}<input type="text" id="id" name="id" value="{{contact.id}}" hidden>{{/if}}
                <div class="box-body row">
                  <div class="col-md-6 form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{contact.lastName}}" placeholder="Entrez le nom" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{contact.firstName}}" placeholder="Entrez le prénom" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="genderId">Sexe</label>
                    <select class="form-control" id="genderId" name="genderId" {{readonlyIf
                          (eq action "view")}} {{disabledIf (eq action "view")}}
                      {{#each gender}}
                        <option value="{{id}}" {{selected id @root.contact.gender.id}}>{{gender label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="firmId">Société</label>
                      <select class="selectfirm" id="selectFirm" name="firmId" style="width:100%" data-selected="{{contact.firm.id}}" {{#if (eq action "view")}}disabled{{/if}}>
                      </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           value="{{contact.email}}" placeholder="Entrez l'adresse mail" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="telephone">Téléphone</label>
                    <input type="string" class="form-control" id="telephone" name="telephone"
                           value="{{contact.telephone}}" placeholder="Entrez le numéro de téléphone" {{readonlyIf (eq action "view")}}
                           pattern=".{8,16}"
                           oninvalid="this.setCustomValidity('Le numéro de téléphone doit contenir entre 8 et 16 chiffres')"
                           oninput="this.setCustomValidity(' ')" onchange="this.setCustomValidity('')">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="cellphone">Téléphone Portable</label>
                    <input type="text" class="form-control" id="cellphone" name="cellphone"
                           value="{{contact.cellphone}}" placeholder="Entrez le numéro de portable" {{readonlyIf (eq action "view")}}
                           pattern=".{8,16}"
                           oninvalid="this.setCustomValidity('Le numéro de téléphone doit contenir entre 8 et 16 chiffres')"
                           oninput="this.setCustomValidity(' ')" onchange="this.setCustomValidity('')">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="position">Position</label>
                    <input type="string" class="form-control" id="position" name="position"
                           value="{{contact.position}}" placeholder="Entrez la position au sein de la société" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="notes">Notes</label>
                    <textarea rows="5" type="string" class="form-control" id="notes" name="notes" {{readonlyIf
                            (eq action "view")}}
                              placeholder="Entrez des informations">{{contact.notes}}</textarea>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="old">
                      <input type="checkbox" id="old" name="old"
                        {{#if (eq action "view")}} disabled="disabled" {{/if}}
                        {{#if contact.old}}checked{{/if}}> Désactivé
                    </label>
                  </div>
                </div>
                <div class="box-footer">
                  <a href="/ua/contact"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour</button></a>
                  {{> formButtons action=action id=contact.id origin='/ua/contact'}}
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>