<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{#if contact}}Fiche Contact{{else}}Nouveau contact{{/if}}
      </h1>
      {{#if contact}}
        {{> breadcrumb tab="UA" path="Contacts,Edition d'un contact"}}
      {{else}}
        {{> breadcrumb tab="UA" path="Contacts,Nouveau contact"}}
      {{/if}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Informations {{#if contact}}contact n°{{contact.id}}{{/if}}
                </h3>
              </div>
              <form role="form" method="post" action="/ua/contact/postform">
                {{#if contact}}<input type="text" id="id" name="id" value="{{contact.id}}" hidden>{{/if}}
                <div class="box-body row">
                  <div class="col-md-6 form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{contact.lastName}}" placeholder="Entrez le nom" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{contact.firstName}}" placeholder="Entrez le prénom" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="genderId">Sexe</label>
                    <select class="form-control" id="genderId" name="genderId">
                      {{#each gender}}
                        <option value="{{id}}" {{selected id @root.contact.gender.id}}>{{gender label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="firmId">Société</label>
                    <select class="form-control" id="firmId" name="firmId">
                      {{!TODO : Use pagination}}
                      {{#each firms.content}}
                        <option value="{{id}}" {{selected id @root.contact.firm.id}}>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           value="{{contact.email}}" placeholder="Entrez l'adresse mail" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="telephone">Téléphone</label> <small>(Format international: 0033612345678)</small>
                    <input type="string" class="form-control" id="telephone" name="telephone"
                           value="{{contact.telephone}}" placeholder="Entrez le numéro de téléphone" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="cellphone">Téléphone Portable</label> <small>(Format international: 0033612345678)</small>
                    <input type="string" class="form-control" id="cellphone" name="cellphone"
                           value="{{contact.cellphone}}" placeholder="Entrez le numéro de portable" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="position">Position</label>
                    <input type="string" class="form-control" id="position" name="position"
                           value="{{contact.position}}" placeholder="Entrez la position au sein de la société" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="notes">Notes</label>
                    <textarea rows="5" type="string" class="form-control" id="notes" name="notes" placeholder="Entrez des informations">{{contact.notes}}</textarea>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="old">Désactivé </label>
                    <input type="checkbox" id="old" name="old" {{#if contact.old}}checked{{/if}}>
                  </div>
                </div>
                <div class="box-footer">
                  <a href="/ua/contact"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour</button></a>
                  {{> formButtons action=action id=contact.id origin='contact'}}
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>