<option value="{{id}}" id="{{idTag}}" selected></option>

<script>
  var id = {{id}},
  option = document.getElementById("{{idTag}}");

  {{#each list}}
  if ({{id}} == id) {
    if ("{{label}}" == "") {
      option.innerHTML = "{{name}}";
    }
    else {
      option.innerHTML = "{{label}}";
    }
  }
  {{/each}}
</script>