<div class="clearfix row">
  <div class="col-sm-5 " id="entries"></div>

  <div class="col-sm-7">
    <ul class="pagination pagination-sm no-margin pull-right" id="links"></ul>
  </div>
</div>
<script>

  //MESSAGE

  let start ={{meta.page}} * {{meta.itemsPerPage}} +1;
  let end = ({{meta.page}}+1) * {{meta.itemsPerPage}};
  if ((({{meta.page}}+1) * {{meta.itemsPerPage}}) > {{meta.totalItems}}) {
    end = {{meta.totalItems}};
  }
  let display = "Showing " + start + " to " + end + " of {{meta.totalItems}} entries";
  document.getElementById('entries').innerHTML = display;

  //LINKS MENU

  let menu = "";
  let parameters = document.location.search.replace(/&pageNumber=\d*/, "").replace(/\?pageNumber=\d*/, "");
  let pathname = document.location.pathname;

  if (parameters === "") {
    parameters = "?";
  }
  else {
    parameters = parameters + "&";
  }

  if (({{meta.page}} - 1) >= 0) {
    menu += "<li><a href='" + pathname + parameters + "pageNumber=0'>1</a></li>";
    if (({{meta.page}} - 10) >= 0) {
      menu += "<li><a href='" + pathname + parameters + "pageNumber=" + ({{meta.page}}-10) + "'>««</a></li>";
    }
    menu += "<li><a href='" + pathname + parameters + "pageNumber=" + ({{meta.page}}-1) + "'>«</a></li>";
  }
  menu += "<li><a href='" + pathname + parameters + "pageNumber=" + ({{meta.page}}) + "' style=\"background-color:#D3D3D3;\">" + ({{meta.page}} + 1) + "</a></li>";

  if (({{meta.page}}+1) < {{meta.totalPages}}) {
    menu += "<li><a href='" + pathname + parameters + "pageNumber=" + ({{meta.page}}+1) + "'>»</a></li>";
    if (({{meta.page}}+10) < {{meta.totalPages}}) {
      menu += "<li><a href='" + pathname + parameters + "pageNumber=" + ({{meta.page}}+10) + "'>»»</a></li>"
    }
    menu += "<li><a href='" + pathname + parameters + "pageNumber=" + ({{meta.totalPages}}-1) + "'>{{meta.totalPages}}</a></li>"
  }

  document.getElementById('links').innerHTML = menu;
</script>