<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Voir les bulletins de versement
      </h1>
      {{> breadcrumb tab="TRESO" action="all" pathall="BV,Voir les BV"}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">
              <div class="dataTables_wrapper form-inline dt-bootstrap">
                {{> template/itemPerPage meta=bulletins.meta}}
                <table class="table table-bordered dataTable">
                  <tbody>
                  <tr>
                    <th>Numéro CE<a href="#" id="numeroCeId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Numéro RM<a href="#" id="missionRecapNumberId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Consultant<a href="#" id="consulantId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Etude<a href="#" id="studyId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Client<a href="#" id="clientId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Responsable<a href="#" id="leaderId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each bulletins.content}}
                    <tr>
                      <td>{{study.id}}</td>
                      <td>{{missionRecapNumber}}</td>
                      <td>{{consultantName}}</td>
                      <td>{{study.name}}</td>
                      <td>{{clientName}}</td>
                      <td>{{projectLead}}</td>
                      <td><a href="/treso/payment-slip/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="/treso/payment-slip/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer">
              {{> template/pagination meta=bulletins.meta}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/treso/payment-slip/create" style="color: white;">
            <button type="button" class="btn btn-block btn-success btn-lg box">Emission BV</button>
          </a>
        </div>
      </div>
    </section>
  </div>

  {{> template/footer}}
</div>
{{> template/scripts}}
</body>