<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{#if bulletin}}Fiche BV{{else}}Emission BV{{/if}}
      </h1>
      {{> breadcrumb action=action tab="TRESO" pathnew="BV,Emission BV" pathview=(concat "BV,Fiche n°" bulletin.id) pathedit=(concat "BV,Edition fiche n°" bulletin.id) }}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Informations {{#if bulletin}}Bulletin de versement n°{{bulletin.id}}{{/if}}
                </h3>
              </div>
              <form role="form" method="post" action="/treso/payment-slip/postform">
                {{#if bulletin}}<input type="text" id="id" name="id" value="{{bulletin.id}}" hidden>{{/if}}
                <div class="box-body row">
                  <div class="col-md-6 form-group">
                    <label for="missionRecapNumber">Numéro Récapitulatif Mission (RM)</label>
                    <input type="text" class="form-control" id="missionRecapNumber" name="missionRecapNumber" value="{{bulletin.missionRecapNumber}}"
                           placeholder="Entrez le numéro Récapitulatif Mission correspondant" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="consultant">Consultant</label>
                    <select class="selectconsultants" style="width:100%" name="consultant" data-n="1" {{#if (eq action "view")}}disabled{{/if}}>
                      {{#if selectedStudy}}<option value="{{selectedConsultant.id}}/{{selectedConsultant.firstName}} {{selectedConsultant.lastName}}">{{selectedConsultant.firstName}} {{selectedConsultant.lastName}}</option>{{/if}}
                      {{#if (ne action "create")}}<option value="_/{{bulletin.consultantName}}" >{{bulletin.consultantName}}</option>{{/if}}
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="consultantSocialSecurityNumber">Numéro de Sécurité Social du consultant</label>
                    <input type="text" class="form-control" id="consultantSocialSecurityNumber" name="consultantSocialSecurityNumber" value="{{bulletin.consultantSocialSecurityNumber}}" placeholder="Entrez le numéro de sécurité social du consultant" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="email">Email consultant</label>
                    <input type="text" class="form-control" id="emailId" name="email"
                      {{#if selectedStudy}}
                           value="{{selectedConsultant.email}}"
                      {{else}}
                           value="{{bulletin.email}}"
                      {{/if}}
                           placeholder="Entrez l'adresse e-mail du consultant" {{readonlyIf (eq action "view")}}>
                  </div>
                  <h4 class="col-md-12 box-title">
                    Adresse du consultant
                  </h4>
                  <div class="col-md-12 form-group">
                    <label for="line1">Ligne 1</label>
                    <input type="string" class="form-control" id="line1" name="line1"
                      {{#if selectedStudy}}
                           value="{{selectedConsultant.address.line1}}"
                      {{else}}
                           value="{{bulletin.address.line1}}"
                      {{/if}}
                           placeholder="Entrez l'adresse 1" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="line2">Ligne 2</label>
                    <input type="string" class="form-control" id="line2" name="line2"
                      {{#if selectedStudy}}
                           value="{{selectedConsultant.address.line2}}"
                      {{else}}
                           value="{{bulletin.address.line2}}"
                      {{/if}}
                           placeholder="Entrez l'adresse 2" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="postalCode">Code postal</label>
                    <input type="string" class="form-control" id="postalCode" name="postalCode"
                      {{#if selectedStudy}}
                           value="{{selectedConsultant.address.postalCode}}"
                      {{else}}
                           value="{{bulletin.address.postalCode}}"
                      {{/if}}
                           placeholder="Entrez le code postal" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="city">Ville</label>
                    <input type="string" class="form-control" id="city" name="city"
                      {{#if selectedStudy}}
                           value="{{selectedConsultant.address.city}}"
                      {{else}}
                           value="{{bulletin.address.city}}"
                      {{/if}}
                           placeholder="Entrez la ville" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="countryId">Pays</label>
                    <select class="form-control" id="countryId" name="countryId" required {{readonlyIf
                            (eq action "view")}} {{disabledIf (eq action "view")}}>
                      {{#each countries}}
                        <option value="{{id}}" {{#if @root.selectedStudy}}{{selected id @root.selectedStudy.firm.address.countryId}}{{else}}{{selected id @root.bulletin.address.countryId}}{{/if}}>{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <h4 class="col-md-12 box-title">
                    Détails
                  </h4>
                  <div class="col-md-6 form-group">
                    <label for="clientName">Client</label>
                    <input type="text" class="form-control" id="clientName" name="clientName"
                      {{#if selectedStudy}}
                           value="{{selectedStudy.firm.name}}"
                      {{else}}
                           value="{{bulletin.clientName}}"
                      {{/if}}
                           placeholder="Entrez le nom du client" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    {{#if bulletin.isStudyPaid}}<label for="studyId">Etude (payée)</label>{{else}}<label for="studyId">Etude</label>{{/if}}
                    <select class="form-control" id="studyId" name="studyId" required {{readonlyIf
                            (eq action "view")}} {{disabledIf (eq action "view")}}>
                      {{#each studies.content}}
                        <option value="{{id}}" {{#if @root.selectedStudy}}{{selected id @root.selectedStudy.id}}{{else}}{{selected id @root.bulletin.study.id}}{{/if}}>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="amountDescription">Description montant</label>
                    <textarea rows="3" class="form-control" id="amountDescription" name="amountDescription" {{readonlyIf
                            (eq action "view")}}
                              placeholder="Entrez la description du montant de la facture">{{bulletin.amountDescription}}</textarea>
                  </div>
                  {{#if (ne action "create")}}
                    <div class="col-md-4 form-group">
                      <label for="createdDate">Date de création</label>
                      <input type="date" class="form-control" id="createdDate" name="createdDate"
                             value="{{bulletin.createdDate}}" {{readonlyIf (eq action "view")}} >
                    </div>
                    <div class="col-md-12 box-title">
                      <hr />
                      <h4>
                        Statuts
                      </h4>
                      <hr />
                    </div>
                    {{#if (eq action "update")}}
                      <div class="col-md-4 form-group"></div>
                      <div class="col-md-4 form-group">
                        {{#if (ne bulletin.validatedByPerf true)}}
                          {{#if bulletin.validatedByUa}}
                            <button type="submit" class="btn btn-primary" style="margin-top: 2%;margin-left: 35%;">Appliquer les changements</button>
                          {{else if (isFromUa connectedUser.positions)}}
                            <button type="submit" formaction="/treso/payment-slip/{{bulletin.id}}/validate-ua" class="btn btn-primary" style="margin-top: 2%;margin-left: 67%;">Valider (UA)</button>
                          {{/if}}
                        {{/if}}
                      </div>
                      {{#if bulletin.validatedByUa}}
                        <div class="col-md-4 form-group">
                          {{#if bulletin.validatedByPerf}}
                            <button type="submit" class="btn btn-primary" style="margin-top: 2%;margin-left: 30%;">Appliquer les changements</button>
                          {{else if (isFromPerf connectedUser.positions)}}
                            <button type="submit" formaction="/treso/payment-slip{{bulletin.id}}/validate-perf" class="btn btn-primary" style="margin-top: 2%;margin-left: 45%;">Valider (Perf)</button>
                          {{/if}}
                        </div>
                      {{/if}}
                    {{/if}}
                    <div class="col-md-12 form-group">
                      <div class="col-md-9 form-group">
                        <ol class="progtrckr" data-progtrckr-steps="3">
                          <li class="progtrckr-done">Créé le {{bulletin.createdDate}} par {{bulletin.createdBy.firstName}} {{bulletin.createdBy.lastName}}</li>
                          {{#if bulletin.validatedByUa}}
                            <li class="progtrckr-done">Validation UA</li>
                          {{else}}
                            <li class="progtrckr-todo">En attente (UA)</li>
                          {{/if}}
                          {{#if bulletin.validatedByPerf}}
                            <li class="progtrckr-done">Validation Perf</li>
                          {{else}}
                            <li class="progtrckr-todo">En attente (Perfo)</li>
                          {{/if}}
                        </ol>
                      </div>
                      <div class="row form-group">
                        <div class="col-sm-1" style="margin-top: 1%">
                          <button type="button" onclick="window.open('/treso/payment-slip/{{bulletin.id}}/generateDocument', '_blank');" class="btn btn-primary" {{#if (ne (and bulletin.validatedByPerf bulletin.validatedByUa) true)}}disabled{{/if}}>Publiposter</button>
                        </div>
                        <div class="col-sm-2" {{#if (ne (and bulletin.validatedByPerf bulletin.validatedByUa) true)}}style="display: none;"{{/if}}>
                            <i class="fa fa-exclamation-triangle"></i>
                            Le fichier renvoyé est un ZIP contenant les BV publipostés de TOUS les consultants de l'étude concernée.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 form-group"></div>
                    <div class="col-md-4 form-group">
                      {{#if bulletin.validatedByUa}}
                        <label style="margin-left: 30%;">Validé le {{bulletin.validatedByUaDate}}<br/>par {{bulletin.validatedByUaMember.firstName}} {{bulletin.validatedByUaMember.lastName}}</label>
                      {{/if}}
                    </div>
                    {{#if bulletin.validatedByUa}}
                      <div class="col-md-4 form-group">
                        {{#if bulletin.validatedByPerf}}
                          <label style="">Validé le {{bulletin.validatedByPerfDate}}<br/>par {{bulletin.validatedByPerfMember.firstName}} {{bulletin.validatedByPerfMember.lastName}}</label>
                        {{/if}}
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
                <div class="box-footer">
                  <a href="/treso/payment-slip">
                    <button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour</button>
                  </a>
                  {{> formButtons action=action origin="/treso/payment-slip" id=bulletin.id}}
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
