<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  {{> template/infoCaption type="consultant"}}
  {{> template/itemPerPage meta=consultant.meta}}
  {{> template/infoColumnOrder type="consultant"}}
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each consultants.content}}
                    <tr>
                      <td>{{username}}</td>
                      {{#if (eq nationality.label "France")}}
                      <td style="background-color: #b3e6cc">{{lastName}}</td>
                      {{else}}
                      <td>{{lastName}}</td>
                      {{/if}}
                      <td>{{firstName}}</td>
                      <td>{{email}}</td>
                      <td><a href="consultant/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="consultant/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
 {{>template/infoFooter}}