<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Voir les consultants
        </h1>
        {{> breadcrumb tab="RH" action="all" pathall="Consultants,Voir les consultants"}}
      </section>
  {{> template/infoCaption type="consultant"}}
  {{> template/itemPerPage meta=consultant.meta}}
  {{> template/infoColumnOrder type="consultant"}}
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each consultants.content}}
                    <tr>
                      <td>{{username}}</td>
                      <td>{{lastName}}</td>
                      <td>{{firstName}}</td>
                      <td>{{email}}</td>
                      <td><a href="consultant/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="consultant/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
 {{>template/infoFooter}}