<div class="card card-olive">
	<div class="card-header">
		<h3 class="card-title">Informations Générales</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="lastName">Nom</label>
					<input
						type="text"
						class="form-control"
						id="lastName"
						name="lastName"
						required
						value="{{viewedUser.lastName}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="firstName">Prénom</label>
					<input
						type="text"
						class="form-control"
						id="firstName"
						name="firstName"
						required
						value="{{viewedUser.firstName}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="genderId">Sexe</label>
					<select
						class="form-control"
						id="genderId"
						name="genderId"
						{{#unless modify}}disabled{{/unless}}
					>
						{{#each genders}}
							<option
								value="{{id}}"
								{{#if (eq id ../viewedUser.gender.id)}}selected{{/if}}
							>
								{{gender label}}
							</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="birthday">Date de Naissance</label>
					<input
						type="date"
						class="form-control"
						id="birthday"
						name="birthday"
						required
						value="{{viewedUser.birthday}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="telephone">Téléphone</label>
					<input
						type="text"
						class="form-control"
						id="telephone"
						name="telephone"
						required
						value="{{viewedUser.telephone}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="email">Email</label>
					<input
						type="email"
						class="form-control"
						id="email"
						name="email"
						required
						value="{{viewedUser.email}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="emailETIC">Email ETIC</label>
					<input
						type="email"
						class="form-control"
						id="emailETIC"
						name="emailETIC"
						value="{{viewedUser.emailETIC}}"
						{{#unless modify}}disabled{{/unless}}
					>
				</div>
			</div>
		</div>
	</div>
</div>
