<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Voir les inscriptions membres
      </h1>
      {{> breadcrumb tab="RH" action="all" pathall="Inscriptions membres,Voir les inscriptions membres"}}
    </section>
   {{> template/infoCaption type="member"}}
   {{> template/itemPerPage meta=inscriptions.meta}}
   {{> template/infoColumnOrder page="inscription"}}
                    <th>Département</th>
                    <th>Pole souhaité</th>
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each inscriptions.content}}
                    <tr>
                      <td>{{lastName}}</td>
                      <td>{{firstName}}</td>
                      <td>{{email}}</td>
                      <td>{{department.label}}</td>
                      <td>{{wantedPole.label}}</td>

                      <td><a href="membre-inscription/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="membre-inscription/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
    {{>template/infoFooter page="memberInscriptionsPage" meta=inscriptions.meta}}
