<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
    {{> template/header}}
    {{> template/sidebar}}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Voir les inscriptions consultants
            </h1>
            {{> breadcrumb tab="RH" action="all" pathall="Inscriptions consultants,Voir les inscriptions consultants"}}
        </section>
         {{> template/infoCaption type="member"}}
         {{> template/itemPerPage meta=inscriptions.meta}}
         {{> template/infoColumnOrder page="inscription"}}
                                        <th>Département</th>
                                        <th>Date d'inscription</th>
                                        <th>Voir</th>
                                        <th>Modifier</th>
                                    </tr>
                                    {{#each inscriptions.content}}
                                        {{#if (eq nationality.label "France")}}
                                            <tr>
                                                <td>{{lastName}}</td>
                                                {{else}}
                                                <td style="background-color: #b3e6cc">{{lastName}}</td>
                                                 {{/if}}
                                                <td>{{firstName}}</td>
                                                <td>{{email}}</td>
                                                <td>{{department.label}}</td>

                                                <td>{{substring createdDate.date 10}}</td>
                                                <td><a href="consultant-inscription/{{id}}" class="fa fa-eye fa-2x"></a></td>
                                                <td><a href="consultant-inscription/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                                            </tr>
                                    {{/each}}
        {{>template/infoFooter page="consultantInscriptionsPage" meta=inscriptions.meta}}
