<div class="card card-olive">
  <div class="card-header">
    <h3 class="card-title">Informations Générales</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lastName">Nom</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            required
            value="{{viewed.lastName}}"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            required
            value="{{viewed.firstName}}"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="genderId">Sexe</label>
          <select
            class="form-control custom-select"
            id="genderId"
            name="genderId"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
            {{#each genders}}
              <option
                value="{{id}}"
                {{#if (eq id ../viewed.gender.id)}}selected{{/if}}
              >
                {{gender label}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="birthday">Date de Naissance</label>
          <input
            type="date"
            class="form-control"
            id="birthday"
            name="birthday"
            required
            value="{{viewed.birthday}}"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            value="{{viewed.email}}"
            {{#if (eq action 'view')}}disabled{{/if}}
          >
        </div>
      </div>
    </div>
    {{#if (eq entity "consultants")}}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nationalityId">Pays d'Origine</label>
            <select
              class="form-control custom-select"
              id="nationalityId"
              name="nationalityId"
              required
              {{#if (eq action 'view')}}disabled{{/if}}
            >
              {{#each countries}}
                <option
                  value="{{id}}"
                  {{#if (eq id ../viewed.nationality.id)}}selected{{/if}}
                >
                  {{label}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input
              type="text"
              class="form-control"
              id="telephone"
              name="telephone"
              required
              value="{{viewed.telephone}}"
              {{#if (eq action 'view')}}disabled{{/if}}
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="socialSecurityNumber">Numéro de Sécurite Sociale</label>
        <input
          type="string"
          class="form-control"
          id="socialSecurityNumber"
          name="socialSecurityNumber"
          value="{{viewed.socialSecurityNumber}}"
          {{#if (eq action 'view')}}disabled{{/if}}
        >
      </div>
    {{else if (or
      (eq entity "members")
      (eq entity "alumni")
    )}}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input
              type="text"
              class="form-control"
              id="telephone"
              name="telephone"
              required
              value="{{viewed.telephone}}"
              {{#if (eq action 'view')}}disabled{{/if}}
            >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="emailETIC">Email ETIC</label>
            <input
              type="email"
              class="form-control"
              id="emailETIC"
              name="emailETIC"
              value="{{viewed.emailETIC}}"
              {{#if (eq action 'view')}}disabled{{/if}}
            >
          </div>
        </div>
      </div>
      {{#if (eq entity "members")}}
        <div>
          <label>Date du dernier paiement de la cotisation : </label>
          <span class="mx-2">{{ date connectedUser.dateRepayment.date }}</span>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
