<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Fonction / Poste</h3>
  </div>
  <div class="card-body">
    {{#each viewed.positions}}
      <div id="position-{{@index}}">
        <div class="row">
          <div class="form-group col-md-11">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="positions[{{@index}}][isBoard]"
                {{#if isBoard}}checked{{/if}}
                {{#if (eq ../action 'view')}}disabled{{/if}}
              >
              <label class="form-check-label">Conseil d'Administration</label>
            </div>
          </div>
          {{#unless (eq ../action 'view')}}
            <div class="col-md-1">
              <button
                type="button"
                class="btn btn-sm btn-danger rounded-circle"
                onclick="deleteElement('position-{{@index}}');"
              >
                <i class="fas fa-times-circle"></i>
              </button>
            </div>  
          {{/unless}}
        </div>
        <div class="row">
          <div class="form-group col-md-5">
            <label for="poleId{{@index}}">Pôle</label>
            <input
              class="form-control"
              {{#if (eq ../action 'view')}}value="{{pole.name}}"{{/if}}
              disabled
            >
          </div>
          <div class="form-group col-md-5">
            <label for="positionId{{@index}}">Fonction</label>
            <select
              class="form-control custom-select"
              id="positionId{{@index}}"
              name="positions[{{@index}}][id]"
              {{#if (eq ../action 'view')}}disabled{{/if}}
            >
              {{#each ../positions}}
                <option value="{{id}}" {{#if (eq id ../id)}}selected{{/if}}>{{label}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="yearPosition{{@index}}">Année</label>
            <input
              type="number"
              class="form-control"
              id="yearPosition{{@index}}"
              name="positions[{{@index}}][year]"
              value="{{year}}"
              {{#if (eq ../action 'view')}}disabled{{/if}}
            >
          </div>
        </div>
        <hr></hr>
      </div>
    {{/each}}

    {{#unless (eq action 'view')}}
      <h6>
        <strong>Positions à ajouter :</strong>
      </h6>
      <div id="added-positions">
      </div>
      <hr></hr>

      <div class="row">
        <div class="form-group col-md-7">
          <label for="position">Fonction</label>
          <select
            class="form-control custom-select"
            id="addPosition"
          >
            {{#each positions}}
              <option value="{{id}}">{{label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-md-5">
          <label for="addYear">Année</label>
          <input
            type="number"
            class="form-control"
            id="addYear"
          >
        </div>
      </div>
      <button
        type="button"
        class="btn btn-outline-primary w-100"
        onclick="addNewPosition();"
      >
        <i class="fas fa-user-plus mx-2"></i>
        Ajouter une position
      </button>
      <hr></hr>
    {{/unless}}

    {{#if (eq entity "alumni")}}
      <div class="form-group">
        <label for="company">Entreprise</label>
        <input
          type="email"
          class="form-control"
          id="company"
          name="company"
          value="{{viewedUser.company}}"
          {{#if (eq action 'view')}}disabled{{/if}}
        >
      </div>
    {{/if}}
  </div>
</div>
