<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{#if study}}Fiche Etude{{else}}Nouvelle étude{{/if}}
      </h1>
      {{#if study}}
        {{> breadcrumb tab="UA" path="Etudes,Edition d'une étude"}}
      {{else}}
        {{> breadcrumb tab="UA" path="Etudes,Nouvelle étude"}}
      {{/if}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Informations {{#if study}}étude n°{{study.id}}{{/if}}
                </h3>
              </div>
              <form role="form" method="post" action="/ua/study/postform">
                {{#if study}}<input type="text" id="id" name="id" value="{{study.id}}" hidden>{{/if}}
                <div class="box-body row">
                  <div class="col-md-6 form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{study.name}}" placeholder="Entrez le nom de l'étude" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="projectNumber">Numéro de projet</label>
                    <input type="number" class="form-control" id="projectNumber" name="projectNumber" value="{{study.projectNumber}}" placeholder="Entrez le numéro de projet" required {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="firmId">Société</label>
                    <select class="form-control" id="firmId" name="firmId" >
                      {{!TODO : Use pagination}}
                      {{#each firms.content}}
                        <option value="{{id}}" {{selected id @root.study.firm.id}}>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="fieldId">Secteur</label>
                    <select class="form-control" id="fieldId" name="fieldId" >
                      {{#each fields}}
                        <option value="{{id}}" {{selected id @root.study.field.id}}>{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="description">Description</label>
                    <textarea rows="3" class="form-control" id="description" name="description" placeholder="Entrez la description de l'étude" >{{study.description}}</textarea>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="statusId">Status</label>
                    <select class="form-control" id="statusId" name="statusId" >
                      {{#each status}}
                        <option value="{{id}}" {{selected id @root.study.status.id}}>{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="provenanceId">Provenance</label>
                    <select class="form-control" id="provenanceId" name="provenanceId" >
                      <option></option>
                      {{#each provenances}}
                        <option value="{{id}}" {{selected id @root.study.provenance.id}}>{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <h4 class="col-md-12 box-title">
                    Date
                  </h4>
                  <div class="col-md-4 form-group">
                    <label for="signDate">Date de début</label>
                    <input type="date" class="form-control" id="signDate" name="signDate"
                           value="{{study.signDate}}" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="endDate">Date de fin</label>
                    <input type="date" class="form-control" id="endDate" name="endDate"
                           value="{{study.endDate}}" {{readonlyIf (eq action "view")}}>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="archivedDate">Date d'archivation</label>
                    <input type="date" class="form-control" id="archivedDate" name="archivedDate"
                           value="{{study.archivedDate}}" {{readonlyIf (eq action "view")}}>
                  </div>
                  <h4 class="col-md-12 box-title">
                    Prix
                  </h4>
                  <div class="col-md-4 form-group">
                    <label for="managementFee">Frais de gestion</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color: #DBE0E0; font-weight: bold;">€</span>
                      <input type="number" class="form-control" id="managementFee" name="managementFee" step="0.01" min="0"
                             value="{{study.managementFee}}" placeholder="Frais de gestion" {{readonlyIf (eq action "view")}}>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="realizationFee">Frais de réalisation</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color: #DBE0E0; font-weight: bold;">€</span>
                      <input type="number" class="form-control" id="realizationFee" name="realizationFee" step="0.01" min="0"
                             value="{{study.realizationFee}}" placeholder="Frais de réalisation " {{readonlyIf (eq action "view")}}>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="rebilledFee">Frais de refacturation</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color: #DBE0E0; font-weight: bold;">€</span>
                      <input type="number" class="form-control" id="rebilledFee" name="rebilledFee" step="0.01" min="0"
                             value="{{study.rebilledFee}}" placeholder="Frais de refacturation" {{readonlyIf (eq action "view")}}>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="ecoparticipationFee">Frais d'écoparticipation</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color: #DBE0E0; font-weight: bold;">€</span>
                      <input type="number" class="form-control" id="ecoparticipationFee" name="ecoparticipationFee" step="0.01" min="0"
                             value="{{study.ecoparticipationFee}}" placeholder="Frais d'écoparticipation" {{readonlyIf (eq action "view")}}>
                    </div>
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="outsourcingFee">Frais de sous traitance</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color: #DBE0E0; font-weight: bold;">€</span>
                      <input type="number" class="form-control" id="outsourcingFee" name="outsourcingFee" step="0.01" min="0"
                             value="{{study.outsourcingFee}}" placeholder="Frais de sous traitance" {{readonlyIf (eq action "view")}}>
                    </div>
                  </div>

                  <h4 class="col-md-12 box-title">
                    Personnel(s) Entreprise
                  </h4>

                  <div class="col-md-4 paginateselect">
                    <label for="contactId1">Contact 1</label>
                    <select class="selectpicker selectcontacts required" data-width="100%" data-endpoint="/ua/contact" data-selected="{{study.contacts.0.id}}" name="contactId1" required>
                    </select>
                  </div>
                  <div class="col-md-4 paginateselect">
                    <label for="contactId2">Contact 2</label>
                    <select class="selectpicker selectcontacts" data-width="100%" data-endpoint="/ua/contact" data-selected="{{study.contacts.1.id}}" name="contactId2">
                    </select>
                  </div>
                  <div class="col-md-4 paginateselect">
                    <label for="contactId3">Contact 3</label>
                    <div id="contactId3">
                      <select class="selectpicker selectcontacts" data-width="100%" data-endpoint="/ua/contact" data-selected="{{study.contacts.2.id}}" name="contactId3">
                      </select>
                    </div>
                  </div>
                  <hr/>

                  <h4 class="col-md-12 box-title">
                    Personnel(s) ETIC
                  </h4>

                  <div >
                    <div class="col-md-4 paginateselect">
                      <label for="leaderId1">Responsable 1</label>
                      <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.leaders.0.id}}" name="leaderId1">
                      </select>
                    </div>
                    <div class="col-md-4 paginateselect">
                      <label for="leaderId2">Responsable 2</label>
                      <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.leaders.1.id}}" name="leaderId2">
                      </select>
                    </div>
                    <div class="col-md-4 paginateselect">
                      <label for="leaderId3">Responsable 3</label>
                      <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.leaders.2.id}}" name="leaderId3">
                      </select>
                    </div>
                  </div>
                  <hr/>
                  <div class="col-md-4 paginateselect">
                    <label for="consultantId1">Consultant 1</label>
                    <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.consultants.0.id}}" name="consultantId1">
                    </select>
                  </div>
                  <div class="col-md-4 paginateselect">
                    <label for="consultantId2">Consultant 2</label>
                    <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.consultants.1.id}}" name="consultantId2">
                    </select>
                  </div>
                  <div class="col-md-4 paginateselect">
                    <label for="consultantId3">Consultant 3</label>
                    <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.consultants.2.id}}" name="consultantId3">
                    </select>
                  </div>
                  <hr/>
                  <div class="col-md-6 paginateselect">
                    <label for="qualityManagerId1">Responsable qualité 1</label>
                    <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.qualityManagers.0.id}}" name="qualityManagerId1">
                    </select>
                  </div>
                  <div class="col-md-6 paginateselect">
                    <label for="qualityManagerId2">Responsable qualité 2</label>
                      <select class="selectpicker selectmembers" data-width="100%" data-endpoint="/core/member" data-selected="{{study.qualityManagers.1.id}}" name="qualityManagerId2">
                      </select>
                  </div>
                  {{#if (eq action "view")}}
                    <div id="view-mailshots">
                      <h4 class="col-md-12 box-title">
                        Publipostage
                      </h4>
                      <div class="col-md-12">
                        <div class="panel panel-default">
                          <a data-toggle="collapse" data-parent="#faq" href="#col-mailshots" aria-expanded="false" aria-controls="elemmailshots">
                            <div class="panel-heading" role="tab" id="mailshots" style="background-color:#F5F5F5;">
                              <h5 class="panel-title">
                                Afficher
                              </h5>
                            </div>
                          </a>
                          <div id="col-mailshots" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mailshots">
                            {{#each study.templates}}
                              <div class="panel-body" value="{{id}}">
                                <div class="col-md-6">
                                  {{name}}
                                </div>
                                <div class="col-md-6">
                                  <a href="{{link}}" target="_blank">
                                    Générer
                                  </a>
                                </div>
                              </div>
                            {{/each}}
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/if}}
                </div>
                <div class="box-footer">
                  <a href="/ua/study"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Retour</button></a>
                  {{> formButtons action=action}}
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>