<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Voir les études
      </h1>
      {{> breadcrumb tab="UA" action="all" pathall="Etudes,Voir les études"}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">
              <div class="dataTables_wrapper form-inline dt-bootstrap">
                {{> template/itemPerPage meta=studies.meta}}
                <table class="table table-bordered dataTable">
                  <tbody>
                  <tr>
                    <th>Nom<a href="#" id="name" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Numéro de projet<a href="#" id="projectNumber" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Status<a href="#" id="statusId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Société<a href="#" id="firmId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Contacts<a href="#" id="contactIds" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Responsable<a href="#" id="leaderId" class="fa fa-unsorted fa-pull-right select_filter"></a></th>
                    <th>Voir</th>
                    <th>Modifier</th>
                  </tr>
                  {{#each studies.content}}
                    <tr>
                      <td>{{ifExists name '<i>Aucun</i>'}}</td>
                      <td>{{projectNumber}}</td>
                      <td>{{status.label}}</td>
                      <td>{{firm.name}}</td>
                      <td>{{#if contacts}}{{#each contacts}}{{firstName}} {{lastName}}<br/>{{/each}}{{else}}<i>Aucun</i>{{/if}}</td>
                      <td>{{#if leaders}}{{#each leaders}} {{firstName}} {{lastName}}<br/>{{/each}}{{else}}<i>Aucun</i>{{/if}}</td>
                      <td><a href="/ua/study/{{id}}" class="fa fa-eye fa-2x"></a></td>
                      <td><a href="/ua/study/update/{{id}}" class="fa fa-edit fa-2x"></a></td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer">
              {{> template/pagination meta=studies.meta}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/ua/study/create" style="color: white;">
            <button type="button" class="btn btn-block btn-success btn-lg box">Nouvelle étude</button>
          </a>
        </div>
      </div>
    </section>
  </div>

  {{> template/footer}}
</div>
{{> template/scripts}}
</body>
