<script src="https://js.stripe.com/v3/"></script>
<body class="hold-transition skin-green fixed sidebar-mini">
<div class="wrapper">
  {{> template/header}}
  {{> template/sidebar}}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Tableau de bord
      </h1>
      {{> breadcrumb tab="ACCUEIL" path="Tableau de bord"}}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
              <a href="/ua/study/me" style="color: white;">Bienvenue sur Keros !</a>
              Utilisez le menu à gauche pour naviguer, et déconnectez vous en cliquant sur votre nom en haut à droite, suivi de "Déconnecter"
            </div>
          </div>
        </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div class="bg-aqua">
                        <i class="fa fa-exclamation-triangle fa-3x fa-align-center" style="padding: 10px"></i>
                    </div>
                    <div style="text-align: center;">
                        <h4 class="box-title text-center">Renouvellement de l'inscription</h4>
                        <div>Date de la dernière inscription : {{ substring connectedMember.dateRepayment.date 10 }}</div>
                        {{#if (isRepaymentDue connectedMember.dateRepayment.date)}}
                            <button style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-primary" onclick="payment('{{connectedUser.id}}', '{{connectedUser.email}}');">Payer la cotisation</button>
                        {{else}}
                            <p> Pas de renouvellement à effectuer !</p>
                        {{/if}}
                    </div>
                </div>
            </div>
          {{#if (eq (isSGorRespHR connectedUser.positions) true)}}
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="info-box">
                      <div class="bg-red" style="text-align: center">
                          <i class="fa fa-exclamation-triangle fa-3x fa-align-center" style="padding: 10px; font-size: 24px;">
                              Cotisation à payer pour :
                          </i>
                      </div>
                      <div style="text-align: center;">
                          <div> Prénom Nom : dernier paiement de cotisation</div>
                          {{#each members.content}}
                              <div style="color: orangered">{{this.firstName}} {{this.lastName}} : {{ substring this.dateRepayment.date 10}}</div>
                          {{/each}}
                      </div>
                  </div>
              </div>
          {{/if}}
      </div>
    </section>
  </div
  {{> template/footer}}
</div>
{{> template/scripts}}
</body>

<script>
    function payment(memberId, memberEmail) {
        const stripe = window.Stripe("{{getStripeApiPK}}");
        stripe.redirectToCheckout({
            items: [{ sku : "{{getSubscriptionFeeProductId}}", quantity: 1 }],
            successUrl: window.location.origin + "/paymentSuccessful",
            cancelUrl: window.location.origin + "/paymentCancelled",
            clientReferenceId: memberId.toString(),
            customerEmail: memberEmail
        })
        .then(function (result) {
            result.error.message = "Error while redirecting to payment page";
        });
    }
</script>
