<body class="hold-transition sidebar-mini accent-olive">
	<div class="wrapper">
		{{> navbar}}
		{{> sidebar}}
		<form class="content-wrapper" method="post">
			<input type="text" id="id" name="id" value="{{viewedUser.id}}" hidden>
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark d-inline-block align-middle">
                {{#if (eq connectedUser.id viewedUser.id)}}
                  Mon Profil
                {{else}}
                  Profil Utilisateur #{{viewedUser.id}}
                {{/if}}
							</h1>
							{{#if modify}}
								<div class="btn-group mx-2" role="group">
									<button
										type="submit"
										class="btn bg-olive text-light d-inline-block align-middle"
									>
										Valider
									</button>
									<a
										class="btn btn-danger text-light d-inline-block align-middle"
                    {{#if (eq connectedUser.id viewedUser.id)}}
                      href="/profile/me"
                    {{else}}
                      href="/profile/{{entity}}/{{viewedUser.id}}"
                    {{/if}}
									>
										Annuler
									</a>
								</div>
							{{else}}
								<a
									class="btn bg-olive text-light d-inline-block align-middle mx-2"
                  {{#if (eq connectedUser.id viewedUser.id)}}
                    href="/profile/me/modify"
                  {{else}}
                    href="/profile/{{entity}}/{{viewedUser.id}}/modify"
                  {{/if}}
								>
									Modifier
								</a>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-7">
              {{> info-box/general}}
							<div class="row">
								<div class="col-md-6">
                  {{> info-box/education}}
                  {{> info-box/authentication}}
							  </div>
								<div class="col-md-6">
                  {{> info-box/address}}
								</div>
							</div>
						</div>
						<div class="col-md-5">
              {{> info-box/position}}
						</div>
          </div>
				</div>
			</div>
		</form>
		{{> footer}}
	</div>
	{{> scripts}}
</body>
